@media only screen and (min-width: 1440px){
  body{
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "menu menu"
      "main main"
      "title title"
      "content content2"
      "footer footer";
  }

  .openMenu{
    display: none;
  }

  .closeMenu{
    display: none;
  }

  .inactive{
    visibility: visible;
    z-index: 4;
  }

  ul{
    display: flex;
    background-color: white;
  }

  nav ul li{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0.9em;
    margin-top: 15px;
  }

  nav ul li:nth-child(1){
    display: none;
  }

  nav ul li:nth-child(2){
    margin-top: 10px;
  }

  li{
    margin-bottom: 0px;
  }
  .logo{
    display: block;
  }

  .link{
    display: none;
  }

  .drop-down{
    display: none;
  }

  main{
    margin-top: 100px;
  }

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  button:hover span {
    padding-right: 25px;
  }

  button:hover span:after {
    opacity: 1;
    right: 0;
  }
}
