*{
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "menu Menu"
    "main main"
    "title title"
}

nav{
  margin-left: 50px;
  width: 100%;
  height: 100vh;
}

.cyka{
  font-weight: 500;
  margin: 10px;
}

ul li a{
  font-weight: bold;
  font-size: 20px;
  color: black;
}



main{
  visibility: hidden;
  grid-area: main;
  height: 100vh;
  width: 100%;
  background-image: url(../images/sliderImage1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.menuToggle{
  grid-area: menu;
  width: 46px;
  margin: 20px 20px 45px 20px;
}

h1{
  font-size: 24px;
}

.titleHolder{
  grid-area: title;
  background: rgba(120, 120, 120, 0.5);
  width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  color: white;
  flex-wrap: wrap;
}

.titleHolder:nth-child(3){
  margin-top: 50%;
  width: 200px;
  font-weight: bold;
}

.slider{
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.slider div{
  background: rgba(120, 120, 120, 0.8);
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 10px;
}
